<div class="container">
  <h3>Books List
    <a [routerLink]="['/book-create']" class="btn btn-default btn-lg">
      <button type="button" class="btn btn-outline-secondary">Add</button>
      <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->
    </a>
  </h3>

  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td><a [routerLink]="['/book-details', book._id]">Show Detail</a></td>
    </tr>
    </tbody>
  </table>
</div>
